<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>About Us - Move Adventures</title>

  <!-- M E T A -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="author" content="Move Adventures">

  <!-- C S S -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400">
  <link rel="stylesheet" href="public/css/site.min.css?v=1360562727">

  <!-- I C O N S -->
  <link rel="shortcut icon" type="image/ico" href="favicon.ico">

  <!-- S C R I P T S -->
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31285637-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body class="about-page">

<!-- M A I N -->


<div id="main">

<header id="header" class="row section clearfix">
  <h1 id="logo"><a href="/">Move Adventures</a></h1>

  <div class="header-buttons">
    <a href="user/login">Log In</a> <a href="user/register" class="button-sign-in">Free Newsletter</a>  <a href="http://facebook.com/MoveAdventures" class="facebook-button">
    <img src="/media/images/th_favicon_facebook.png" class="like-fav" width="16" height="18">Like Us!
  </a>
  </div>
  
  <nav class="nav-primary">
    <ul>
      <li><a class="home-link" href="/">Home</a></li>
      <li><a class="adventures-link" href="adventures">Fitness Adventures</a></li>
      <li><a class="packages-link" href="packages">Packages</a></li>
      <li><a class="fitness-chart-link" href="chart">Fitness Chart</a></li>
      <li><a class="about-link" href="about">About</a></li>
      <li><a class="faqs-link" href="faqs">FAQs</a></li>
      <li><a class="contact-link" href="contact">Contact</a></li>
      <li><a class="account-link" href="user/login">Account</a></li>
    </ul>
  </nav>
  
</header>


<section class="row section">

    <h1 class="page-title">About Us</h1>

    <div class="col-9 first">

        <iframe class="photo" width="692" height="389" 
            src="//www.youtube.com/embed/zo7K51C6GEM" 
            frameborder="0" allowfullscreen>
        </iframe>

        <p class="page-description">Move Adventures is dedicated to providing our customers innovative and top quality outdoor fitness programs.</p>

        <div class="cms-content">
            <p>
  Yvonne Mo, founder of Move Adventures, is New York City based personal trainer and fitness consultant. Her fitness career began at age 12, with the mentorship of her Shotokan Karate instructors, she learned the importance of weight and cardiovascular training at a young age. Since then, Mo has found her calling in and out of the gym helping others reach their fitness goals regardless of how small or large it may be. Over the last eight years personal training in traditional gym settings, she was constantly asked to train outdoors during&nbsp; the summers months.</p>
<p>
  "I would take people rock climbing with me or train them in parks during the summers, they loved it more than the gym. It all clicked when personally climbing at the gunks in New Paltz or hiking the numerous trails outside the city. What I observed was that some of the best physiques I ever seen belong to rock climbers and hikers. In rock climbing, people are working major muscle groups, such as back, shoulders, legs, and entire core abdomen. To get to the rock wall, they would hike. Hiking would keep their metabolism up. The uphill climbing is a great fat burner and cardio exercise while preserving muscle. Most importantly, it was fun, so no one was &lsquo;logging time&rsquo; so to speak. A fit body just seem to come natural, because the activities were too."</p>
<p>
  "The fitness industry is constantly changing. As a New York City based fitness professional, I observed that we are faced with challenges unique to our city that limits our options to stay in shape; small gym spaces, few transportation options to leave the city, and hectic work schedules."</p>
<p>
  Surrounded by the gym and inspired by nature, sparked the idea of fitness designed outdoor workouts. Move Adventures is not only for the weekend warrior and fitness fanatic, but also those who want a sweat with a scenic view. Gyms have their place, however, it can be repetitive in the same space and similar routines. After noticing that most exercises and machines are a stimulation of outdoor activities, we are able to deliver a full body workout outdoors. We understand that our customers may do other fitness activities during the week. To plan out what fitness area you may want to focus on during the trip, please consult the chart.</p>
<p>
  Our trained staff caters to all backgrounds and fitness levels. Our company distinguishes itself through cutting-edge programs, convenience, accessibility and dedication to customers service, the environment and our employees.</p>

        </div>
    </div>
    
    <div class="col-3">
        <section class="sidebar-item">
  <h1>Contact Us</h1>
  <ul class="item-list">
    <!--<li><a href="http://maps.google.com/maps?q=353+W+48th+St+Ste+333+New+York+NY+10036">353 W 48th St.<br> Ste #333<br> New York, NY 10036</a></li>-->
    <li class="tel">(347) 599 - 2815</li>
  </ul>
  <a class="button button-border" href="mailto:info@moveadventures.com">Email Us</a>
</section>
    </div>

</section>

<!-- U P D A T E S -->
<section id="get-updates" class="row section">

  <div class="section">
    <p class="message highlight-message message-m">
      <span>Subscribe to our mailing list</span>
    </p>
  </div>

  <div id="get-updates-hikers"></div>
  <form id="updates-form" action="http://moveadventures.createsend.com/t/r/s/fvlrk/" method="post">
    <input type="email" name="cm-fvlrk-fvlrk" value="Your Email Address" id="updates-form-email" class="input-text">
    <input type="submit" name="submit" value="Subscribe" class="input-submit button">
  </form>

</section>



</div><!-- /main -->
<div id="main-bottom"></div>

<!-- F O O T E R -->
<footer id="footer">
  <div class="row">
    &copy; 2015 Move Adventures, LLC 
    <br>
    <!--
    <a href="http://maps.google.com/maps?q=353+W+48th+St.+Ste+%23333+New+York,+NY+10036">
        353 W 48th St. Ste #333 New York, NY 10036
    </a> 
    <br>
    -->
    <a href="mailto:info@moveadventures.com">info@moveadventures.com</a> | (347) 599 - 2815
    <!--<a class="yorganic-link" href="http://yorganicnyc.com/" rel="nofollow"><span>Sponsored by Yorganic</span></a>-->
  </div>
</footer>

<!-- J S -->
<script src="public/js/jquery.min.js?v=1338119176"></script>
<script src="public/js/concatenated.js?v=1340412325"></script>

</body>
</html>
