<!doctype html>
<html class="no-js">
{% include "elements/head.html" %}
<body class="adventure-page">

<!-- M A I N -->


<div id="main">

{% include "elements/header.html" %}
<section class="row section">

    <div class="adventure">
    
        <div class="col-2 first">
            <time class="date" datetime="2015-04-16">Apr 16</time>
        </div>
    
        <div class="col-7">
            
            <img class="photo" width="532" height="266" src="/media/{{ trip.trip_image }}" alt="circuit climber">
            

            <hgroup>
                <h1 class="title">{{ trip.title }}: ${{ trip.price }}</h1>
                <h2 class="subtitle">With {{ trip.instructor }} @ {{ trip.date|date:'g:i a' }}</h2>
            </hgroup>

            <p>
                <a href="/chart"><strong>Intensity: {% if trip.intensity == 0 %}Beginner{% elif trip.intensity == 1%}Intermediate{% else %}Hard{% endif %}</strong></a> / 
                <a href="/chart"><strong>{% if trip.technicality == 0 %}Beginner{% elif trip.technicality == 1%}Intermediate{% else %}Hard{% endif %}</strong></a>
            </p>
            <ul>
              <li>
                <strong><em>Intensity: {% if trip.intensity == 0 %}Beginner{% elif trip.intensity == 1%}Intermediate{% else %}Hard{% endif %}</em></strong></li>
              <li>
                <strong><em>Technicality: {% if trip.technicality == 0 %}Beginner{% elif trip.technicality == 1%}Intermediate{% else %}Hard{% endif %}</em></strong></li>
            </ul>


                        <div class="description cms-content">
                                    <h2>Additional Information</h2>
                    <p>{{ trip.description1 }}</p>
                    <p>{{ trip.description2 }}</p>
<p>
  <strong>Meeting Location:  </strong>{{ trip.meeting_location }}.</p>
<p>
  <strong>Meeting Time:  </strong> Please arrive at {{ trip.meeting_time|date:'g:i a' }} to check in. The van leaves at {{ trip.leaving_time|date:'g:i a' }} SHARP.</p>
<p>
  <strong>End Time:  </strong> We will be back in the city by {{ trip.end_time|date:'g:i a' }}.</p>
<p>
  <strong>Things to Bring:  </strong></p>
<ul>{{ trip.things_to_bring|safe }}
</ul>

                
                <p>It&#8217;s customary to tip the instructor if you enjoy your adventure.</p>
            </div>
            
            <div id="adventure-registration">
                <h2>Register For &#8220;{{ trip.title }}&#8221;</h2>

                                                    
                    <div class="col-3 first">
                        
                        <div class="button button-border button-closed">Sold Out</div>                                            </div>

                    <div class="col-4">
                        
                                                    <p>This adventure is completely booked.</p>
                                            </div>
                    
                    <p class="fine-print">By registering for this adventure, you are hereby agreeing to the Move Adventures <a href="terms">Terms &amp; Conditions</a> and <a href="public/pdf/move_adventures_waiver.pdf">Waiver&nbsp;Agreement</a>.</p>

                
            </div><!-- /adventure-registration -->

        </div><!-- /col -->

        <div class="col-3">

            
                                
                <section class="sidebar-item">
                    <h1>Instructor Bio: {{ trip.instructor.name }}</h1>
                    <p>{{ trip.instructor.bio }}</p>
                </section>
                
                            
        
            <section class="sidebar-item">
  <h1>Contact Us</h1>
  <ul class="item-list">
    <!--<li><a href="http://maps.google.com/maps?q=353+W+48th+St+Ste+333+New+York+NY+10036">353 W 48th St.<br> Ste #333<br> New York, NY 10036</a></li>-->
    <li class="tel">(347) 599 - 2815</li>
  </ul>
  <a class="button button-border" href="mailto:info@moveadventures.com">Email Us</a>
</section>

        </div>

    </div><!-- /adventure -->

</section>

</div><!-- /main -->
<div id="main-bottom"></div>

{% include "elements/footer.html" %}

</body>
</html>


