{% load staticfiles %}

<!doctype html>
<html class="no-js">
{% include "elements/head.html" %}
<body class="adventures-page">

<!-- M A I N -->


<div id="main">
{% include "elements/header.html" %}

<section class="row section">

  <h1 class="page-title">Our Adventures</h1>

  <p class="page-description">Move Adventures promotes healthy and active lifestyles through specially designed outdoor fitness programs. Register below for a fitness adventure and begin transforming the way you exercise!</p>

  
      <p class="message">
        Sorry, all of our trips are currently booked! <br> 
        Come back again soon to register for next weekend.
      </p>
    

</section>

</div><!-- /main -->
<div id="main-bottom"></div>

{% include "elements/footer.html" %}

</body>
</html>
