<!doctype html>
<html class="no-js">
{% include "elements/head.html" %}
<body class="adventure-page">

<!-- M A I N -->


<div id="main">

{% include "elements/header.html" %}
<section class="row section">

    <div class="adventure">
    
        <div class="col-2 first">
            <time class="date" datetime="2015-04-16">Apr 16</time>
        </div>
    
        <div class="col-7">
            
            <img class="photo" width="532" height="266" src="http://moveadventures.com/uploads/adventures/jeff_group_squat_for_trip_description.jpg" alt="circuit climber">
            

            <hgroup>
                <h1 class="title">Circuit Climber: $109</h1>
                <h2 class="subtitle">With Mo @ 10:54 pm</h2>
            </hgroup>

            <p>
                <a href="http://moveadventures.com//fitness-chart"><strong>Intermediate intensity</strong></a> / 
                <a href="http://moveadventures.com//fitness-chart"><strong>Intermediate technicality</strong></a>
            </p>

                        <div class="description cms-content">
                <ul>
  <li>
    <strong><em>Intermediate Intensity</em></strong></li>
  <li>
    <strong><em>Intermediate Terrain Technicality</em></strong></li>
</ul>

                                    <h2>Additional Information</h2>
                    <p>
  Do you want to work for your scenic views? So do we. On this trip, we take the shortest route up one mountain, and while it&#39;s short, that also makes it the steepest. So although we cover less distance, we accomplish more cardio.</p>
<p>
  We&#39;ll be doing work in circuits, which means we&#39;ll climb a bit of the mountain, stop to do strength training, take in the view, and take out the cameras. Then we repeat. Climb, training, pictures. You will see a total of 5 different, unique, amazing views on this trip. So bring your sense of adventure, and of course, your inner Champion.</p>
<p>
  <strong>Meeting Location:</strong> Front of the silver globe in Columbus Circle, New York.</p>
<p>
  <strong>Meeting Time:</strong> Please arrive at 8:45am to check in. The van leaves at 9am SHARP.</p>
<p>
  <strong>End Time:</strong> We will be back in the city by 2pm.</p>
<p>
  <strong>Things to Bring:</strong></p>
<ul>
  <li>
    Comfortable weather appropriate clothing and comfortable, sturdy shoes. Hikings shoes are preferable.</li>
  <li>
    Change of shirt and towel optional.</li>
  <li>
    Gloves if you don&#39;t feel comfortable touching the dirt.</li>
  <li>
    At least 1 Liter of water.</li>
  <li>
    Sunscreen and/or bug spray if needed.</li>
  <li>
    Snacks will be provided however we advise everyone to bring your own food.</li>
  <li>
    Instructor contact info in case of emergencies.</li>
</ul>

                
                <p>It&#8217;s customary to tip the instructor if you enjoy your adventure.</p>
            </div>
            
            <div id="adventure-registration">
                <h2>Register For &#8220;Circuit Climber&#8221;</h2>

                                                    
                    <div class="col-3 first">
                        
                        <div class="button button-border button-closed">Sold Out</div>                                            </div>

                    <div class="col-4">
                        
                                                    <p>This adventure is completely booked.</p>
                                            </div>
                    
                    <p class="fine-print">By registering for this adventure, you are hereby agreeing to the Move Adventures <a href="terms">Terms &amp; Conditions</a> and <a href="public/pdf/move_adventures_waiver.pdf">Waiver&nbsp;Agreement</a>.</p>

                
            </div><!-- /adventure-registration -->

        </div><!-- /col -->

        <div class="col-3">

            
                                
                <section class="sidebar-item">
                    <h1>Instructor Bio</h1>
                    <p>
  Founder of Move Adventures and National Strength and Conditioning Certified personal trainer in NYC for seven years. Prior, she practiced and taught over a decade of Shotokan Karate martial arts and competed in tournament circuits. &nbsp;&nbsp;</p>

                </section>
                
                            
        
            <section class="sidebar-item">
  <h1>Contact Us</h1>
  <ul class="item-list">
    <!--<li><a href="http://maps.google.com/maps?q=353+W+48th+St+Ste+333+New+York+NY+10036">353 W 48th St.<br> Ste #333<br> New York, NY 10036</a></li>-->
    <li class="tel">(347) 599 - 2815</li>
  </ul>
  <a class="button button-border" href="mailto:info@moveadventures.com">Email Us</a>
</section>

        </div>

    </div><!-- /adventure -->

</section>

</div><!-- /main -->
<div id="main-bottom"></div>

{% include "elements/footer.html" %}

</body>
</html>


