<!doctype html>
<html class="no-js">
{% include "elements/head.html" %}
<body class="fitness-chart-page">

<!-- M A I N -->


<div id="main">

{% include "elements/header.html" %}

<section class="row section">

  <h1 class="page-title">Fitness Chart - What trips are right for you?</h1>

    

  <div class="col-9 first">   
    <div class="cms-content">
      <h2>
  <strong>Signature Fitness Trips</strong></h2>
<p>
  <em><strong>Let&#39;s Go Uphill</strong> </em>- Approximately 3.5 mile hike with one major peak. Available in a<em>ctive</em> and <em>fit</em> workout intensity levels. Intermediate technicality.</p>
<p>
  <em><strong>Multi Peak Sweat</strong></em> - 5-6 mile hike with strength exercises, completing atleast 2 major peaks. Available in <em>FIT&nbsp;</em>and <em>ATHLETIC</em>&nbsp;workout intensities. Intermediate technicality.</p>
<p>
  <strong><em>Circuit Climber</em></strong> - 2.5 mile hike with a series of circuits up the peak. Available in&nbsp;<em>FIT</em> and&nbsp;<em>ATHLETIC</em> workout intensities. Between beginner and intermediate technicality.</p>
<p>
  <strong><em>Stair Climb Bear Mountain&nbsp;</em></strong><em>-&nbsp;</em>3 mile hike with a strong stair climb to start it off with most of the elevation coming from stairs. Between views will be intense strength circuits. Available in&nbsp;<em>ATHLETIC.&nbsp;</em>Between beginner and intermediate technicality.</p>
<p>
  <strong><em>Power Up Bear Mountain&nbsp;</em></strong>- 3.5 mile hike with a few light scrambles up to Bear Mountain. Available in <em>ATHLETIC. </em>Advance technicality.&nbsp;</p>
<h2>
  <strong>Workout Intensity</strong> (fitness level needed to complete the fitness trip &amp; workouts)</h2>
<ul>
  <li>
    <b>Active </b>(beginner):&nbsp; Suitable for people with average healthy lifestyles.</li>
  <li>
    <strong>Fit </strong>(Intermediate):&nbsp; Suitable for people who workout 1-3 times a week.</li>
  <li>
    <strong>Athletic </strong>(Advanced):&nbsp; Suitable for people who work out 2-5 times a week and are of above-average fitness level.</li>
</ul>
<h2>
  <strong>Technicality</strong> (hiking skill level needed to complete the trails use for the workout)</h2>
<ul>
  <li>
    <b>Beginner</b>:&nbsp; Suitable for people who have never hiked before; requires no prior experience.</li>
  <li>
    <b>Intermediate</b>:&nbsp; Suitable for people who have some prior experience hiking and outdoor terrain.</li>
  <li>
    <strong>Advanced</strong>:&nbsp; Suitable for people who have done outdoor hiking numerous times before and require little hiking instruction.</li>
</ul>

    </div>
  </div>
  
  

</section>



</div><!-- /main -->
<div id="main-bottom"></div>

{% include "elements/footer.html" %}

</body>
</html>
