<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Fitness Chart - What trips are right for you? - Move Adventures</title>

  <!-- M E T A -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="author" content="Move Adventures">

  <!-- C S S -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400">
  <link rel="stylesheet" href="public/css/site.min.css?v=1360562727">

  <!-- I C O N S -->
  <link rel="shortcut icon" type="image/ico" href="favicon.ico">

  <!-- S C R I P T S -->
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31285637-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body class="fitness-chart-page">

<!-- M A I N -->


<div id="main">

<header id="header" class="row section clearfix">
  <h1 id="logo"><a href="/">Move Adventures</a></h1>

  <div class="header-buttons">
    <a href="user/login">Log In</a> <a href="user/register" class="button-sign-in">Free Newsletter</a>  <a href="http://facebook.com/MoveAdventures" class="facebook-button">
    <img src="/media/images/th_favicon_facebook.png" class="like-fav" width="16" height="18">Like Us!
  </a>
  </div>
  
  <nav class="nav-primary">
    <ul>
      <li><a class="home-link" href="/">Home</a></li>
      <li><a class="adventures-link" href="adventures">Fitness Adventures</a></li>
      <li><a class="packages-link" href="packages">Packages</a></li>
      <li><a class="fitness-chart-link" href="chart">Fitness Chart</a></li>
      <li><a class="about-link" href="about">About</a></li>
      <li><a class="faqs-link" href="faqs">FAQs</a></li>
      <li><a class="contact-link" href="contact">Contact</a></li>
      <li><a class="account-link" href="user/login">Account</a></li>
    </ul>
  </nav>
  
</header>


<section class="row section">

  <h1 class="page-title">Fitness Chart - What trips are right for you?</h1>

    

  <div class="col-9 first">   
    <div class="cms-content">
      <h2>
  <strong>Signature Fitness Trips</strong></h2>
<p>
  <em><strong>Let&#39;s Go Uphill</strong> </em>- Approximately 3.5 mile hike with one major peak. Available in a<em>ctive</em> and <em>fit</em> workout intensity levels. Intermediate technicality.</p>
<p>
  <em><strong>Multi Peak Sweat</strong></em> - 5-6 mile hike with strength exercises, completing atleast 2 major peaks. Available in <em>FIT&nbsp;</em>and <em>ATHLETIC</em>&nbsp;workout intensities. Intermediate technicality.</p>
<p>
  <strong><em>Circuit Climber</em></strong> - 2.5 mile hike with a series of circuits up the peak. Available in&nbsp;<em>FIT</em> and&nbsp;<em>ATHLETIC</em> workout intensities. Between beginner and intermediate technicality.</p>
<p>
  <strong><em>Stair Climb Bear Mountain&nbsp;</em></strong><em>-&nbsp;</em>3 mile hike with a strong stair climb to start it off with most of the elevation coming from stairs. Between views will be intense strength circuits. Available in&nbsp;<em>ATHLETIC.&nbsp;</em>Between beginner and intermediate technicality.</p>
<p>
  <strong><em>Power Up Bear Mountain&nbsp;</em></strong>- 3.5 mile hike with a few light scrambles up to Bear Mountain. Available in <em>ATHLETIC. </em>Advance technicality.&nbsp;</p>
<h2>
  <strong>Workout Intensity</strong> (fitness level needed to complete the fitness trip &amp; workouts)</h2>
<ul>
  <li>
    <b>Active </b>(beginner):&nbsp; Suitable for people with average healthy lifestyles.</li>
  <li>
    <strong>Fit </strong>(Intermediate):&nbsp; Suitable for people who workout 1-3 times a week.</li>
  <li>
    <strong>Athletic </strong>(Advanced):&nbsp; Suitable for people who work out 2-5 times a week and are of above-average fitness level.</li>
</ul>
<h2>
  <strong>Technicality</strong> (hiking skill level needed to complete the trails use for the workout)</h2>
<ul>
  <li>
    <b>Beginner</b>:&nbsp; Suitable for people who have never hiked before; requires no prior experience.</li>
  <li>
    <b>Intermediate</b>:&nbsp; Suitable for people who have some prior experience hiking and outdoor terrain.</li>
  <li>
    <strong>Advanced</strong>:&nbsp; Suitable for people who have done outdoor hiking numerous times before and require little hiking instruction.</li>
</ul>

    </div>
  </div>
  
  

</section>



</div><!-- /main -->
<div id="main-bottom"></div>

<!-- F O O T E R -->
<footer id="footer">
  <div class="row">
    &copy; 2015 Move Adventures, LLC 
    <br>
    <!--
    <a href="http://maps.google.com/maps?q=353+W+48th+St.+Ste+%23333+New+York,+NY+10036">
        353 W 48th St. Ste #333 New York, NY 10036
    </a> 
    <br>
    -->
    <a href="mailto:info@moveadventures.com">info@moveadventures.com</a> | (347) 599 - 2815
    <!--<a class="yorganic-link" href="http://yorganicnyc.com/" rel="nofollow"><span>Sponsored by Yorganic</span></a>-->
  </div>
</footer>

<!-- J S -->
<script src="public/js/jquery.min.js?v=1338119176"></script>
<script src="public/js/concatenated.js?v=1340412325"></script>

</body>
</html>
