<!doctype html>
<html class="no-js">
{% include "elements/head.html" %}
<body class="contact-page">

<!-- M A I N -->


<div id="main">

{% include "elements/header.html" %}

<section class="row section">

  <h1 class="page-title">Contact Us</h1>

  <form id="contact_form" method="post" action="" >
  {% csrf_token %}
<div class='hiddenFields'>
<input type="hidden" name="XID" value="93a493672671590d1baf98037032ca66cad15dd4" />
<input type="hidden" name="ACT" value="16" />
<input type="hidden" name="RET" value="" />
<input type="hidden" name="URI" value="contact" />
<input type="hidden" name="recipients" value="rlfrIk916AvBzhbcb5JKKaZW0FnUowR1Uf77FkYwLOYX3xoVuMPh9kLsgd9Kg/NikBYzGz6D8v3FRg8Ude/3fw==" />
<input type="hidden" name="user_recipients" value="e84364f7a789c2852ff15995f3fcb502" />
<input type="hidden" name="charset" value="utf-8" />
<input type="hidden" name="redirect" value="" />
<input type="hidden" name="replyto" value="" />
<input type="hidden" name="site_id" value="1" />
</div>


        
        <p>
                <label for="from">Your Email:</label><br />
                <input type="text" class="input-contact" id="from" name="from" size="40" maxlength="35" value="" />
        </p>
        <p>
                <label for="subject">Subject:</label><br />
                <input type="text" class="input-contact" id="subject" name="subject" size="40" value="" />
        </p>
        <p>
                <label for="message">Message:</label><br />
                <textarea id="message" class="input-contact" name="message" rows="18" cols="40"></textarea>
        </p>
        <p>
                <input name="submit" class="button" type='submit' value='Submit Form' />
        </p>
</form>

</section>
<!-- U P D A T E S -->
<section id="get-updates" class="row section">

  <div class="section">
    <p class="message highlight-message message-m">
      <span>Subscribe to our mailing list</span>
    </p>
  </div>

  <div id="get-updates-hikers"></div>
  <form id="updates-form" action="http://moveadventures.createsend.com/t/r/s/fvlrk/" method="post">
    <input type="email" name="cm-fvlrk-fvlrk" value="Your Email Address" id="updates-form-email" class="input-text">
    <input type="submit" name="submit" value="Subscribe" class="input-submit button">
  </form>

</section>








</div><!-- /main -->
<div id="main-bottom"></div>

{% include "elements/footer.html" %}

</body>
</html>
