<!doctype html>
<html class="no-js">
{% include "elements/head.html" %}
<body class="faq-page">

<!-- M A I N -->

<div id="main">
{% include "elements/header.html" %}
<section class="row section">

  <hgroup>
    <h1 class="page-title">Frequently Asked Questions</h1>      
    <h2 class="page-description">You have questions. We have answers.</h2>
  </hgroup>

  <div class="col-9 first">
    <p>
  We get lots of questions at Move Adventures; here are the ones we get asked the most. Click on a question below to view the answer. For any additional questions, please <a href="contact">contact us</a>.</p>

  
    <div class="cms-content">
      <dl class="faqs">
      
        <dt class="question"><p>
  What ages do you cater to?</p>
</dt>
        <dd class="answer"><p>
  Here at Move Adventures, we strive to cater to individuals of all backgrounds and fitness levels. However, our program is designed for adults, and is not yet approved for children.</p>
</dd>
      
        <dt class="question"><p>
  What if I have a recent injury, or have a disability?</p>
</dt>
        <dd class="answer"><p>
  While we encourage all who are able to participate in our programs, individuals with injuries or physical disabilities should contact a medical professional to determine whether our program would safely fit their needs.</p>
</dd>
      
        <dt class="question"><p>
  Will I be able to keep up with the group if I do not work out?</p>
</dt>
        <dd class="answer"><p>
  Yes, we design our workouts in various intensity levels. We have beginner workouts that are designed for those who don&rsquo;t usually work out but would love to start. Our amazing instructors also try to gauge the group&rsquo;s fitness level so everyone has a good time. Please consult the Fitness Chart for more details.</p>
</dd>
      
        <dt class="question"><p>
  What is the cancellation policy?</p>
</dt>
        <dd class="answer"><p>
  A full refund is given if cancelled 10 days prior to the workout. If a cancellation is submitted within 10 days, a workout credit will be given to an equal or less value workout. If cancellation is within 48 HOURS of the workout, there is NO REFUND OR CREDIT. However, you may transfer your spot up to 24 hours of the workout.</p>
</dd>
      
        <dt class="question"><p>
  Will there be water fountains to refill?</p>
</dt>
        <dd class="answer"><p>
  There are not usually water fountains available in our routes, however, we do provide extra water for refills for the group during the workout.</p>
</dd>
      
        <dt class="question"><p>
  What if it rains or snows?</p>
</dt>
        <dd class="answer"><p>
  We cancel trips if we feel it can be unsafe. Keeping in mind that nature inspired workouts are made to be in nature and fitness challenges reflect weather conditions, we do not cancel if it is simply uncomfortable or not ideal.</p>
</dd>
      
        <dt class="question"><p>
  I am not sure if I correctly registered for a trip, how do I know if my registration went through?</p>
</dt>
        <dd class="answer"><p>
  Please check your Move Adventures account page for full listings of trips you have done in the past and trips you are registered for in the future.&nbsp;</p>
</dd>
      
      </dl>
    </div>
  </div>

</section>

</div><!-- /main -->
<div id="main-bottom"></div>

{% include "elements/footer.html" %}
</body>
</html>
