{% load staticfiles %}

<!doctype html>
<html class="no-js">
{% include "elements/head.html" %}
<body class="home-page">

<!-- M A I N -->


<div id="main">
{% include "elements/header.html" %}

<section class="row section">

    <h1 class="page-title">Welcome to Move Adventures</h1>
    
    <img class="photo" width="932" height="420" src="/media/images/outdoorguy.jpg" alt="hikers doing pushups with view">
    

    <div class="col-8 first">
        <h2 class="page-description">Go outdoors and get fit, Champions! #outdoorsisourgym</h2>
        <h3>
  Move Adventures is your destination for real outdoor workouts that get you out of the hustle and bustle of the city, and put you in touch with your inner athlete and mother nature.</h3>
<p>
  Our outdoor fitness workouts are unique - we combine traditional outdoor hiking with fitness training you find in gyms.</p>
<h3>
  Busy?</h3>
<p>
  Move Adventures minimizes travel time out of the city while maximizing workouts. All of our fitness adventures begin in the morning at 9am. You are back into the city by 2pm. Allowing you plenty of enjoy your day and evening.</p>
<p>
  Lead by our top fitness instructors, you will achieve your fitness goals while breathing in fresh air and enjoying scenic views. We even provide complimentary healthy snacks. All you have to do is show up, ready to work out. Let us take care of the rest.</p>

    </div>

    <div class="col-4 sidebar">
        
        

        <h3>Announcements</h3>

        <dl class="latest-announcement">
            <dt>See you in the Spring!</dt>
            <dd><p>
  We&#39;ll be back up running outdoor fitness trips again in the Spring. Please sign up for an account and like us on Facebook to receive updates on future trips.&nbsp;</p>
</dd>
        </dl>

        
        

        <div class="upcoming-adventures">
            <h3>Upcoming Workouts</h3>
            <dl>
            <li class="no-results-message">Sorry, all of our trips are currently booked! Come back again soon to register for next weekend.</li>
            </dl>
        </div>

        <div class="workout-tips">
            <h3>Workout Tips</h3>
            <ol>
                
                <dt>Listen to your body</dt>
                <dd><p>
  Winter brings weather challenges that can fatigue your immune system where you&#39;ll eventually get sick. Working out is demanding and can increase your chances of getting sick if you&#39;re already fatigued. Don&#39;t overdo it, if you need the extra rest days than you normally do, take them. It&#39;s not worth a full blown cold.</p>
</dd>
                
            </ol>
        </div>
    </div>

</div><!-- /main -->
<div id="main-bottom"></div>

{% include "elements/footer.html" %}

</body>
</html>

