
<!doctype html>
<html class="no-js">
{% include "elements/head.html" %}
<body class="packages-page">

<!-- M A I N -->


<div id="main">

{% include "elements/header.html" %}

<div class="row section">
  <hgroup>
    <h1 class="page-title">Packages</h1>
    <h2 class="page-description">Get the workout package that is aligned with your fitness goals and healthy lifestyle.</h2>
  </hgroup>

  <div id="packages" class="row clearfix">
    

    

    <article class="package col-4 first">
      <hgroup>
        <h2 class="title"><a href="package/bootcamp-10-pack">Intro Fitness Trip Bundle</a></h2>
        <h3 class="subtitle"><em class="adventure-count">3 Adventures</em> for <em class="price">$239</em></h3>
      </hgroup>
      
      <p class="description cms-content"><p>Keep your fitness up consistently and SAVE!</p></p>
    </article>

    

    

    <article class="package col-4 ">
      <hgroup>
        <h2 class="title"><a href="package/six-pack-abs-trip-bundle">Six Pack Abs Trip Bundle</a></h2>
        <h3 class="subtitle"><em class="adventure-count">6 Adventures</em> for <em class="price">$459</em></h3>
      </hgroup>
      
      <p class="description cms-content"><p>Committing to a six pack and save!</p></p>
    </article>

    

    

    <article class="package col-4 ">
      <hgroup>
        <h2 class="title"><a href="package/group-workout-discount">Discount for Group Workout</a></h2>
        <h3 class="subtitle"><em class="adventure-count">4 Adventures</em> for <em class="price">$325</em></h3>
      </hgroup>
      
      <p class="description cms-content"><p>Sign up with your friends and save!</p></p>
    </article>

    
  </div>
</div>

</div><!-- /main -->
<div id="main-bottom"></div>

{% include "elements/footer.html" %}

</body>
</html>

