
<!doctype html>
<html class="no-js">
{% include "elements/head.html" %}
<body class="terms-page">

<!-- M A I N -->


<div id="main">

{% include "elements/header.html" %}

<section class="row section">

  <h1 class="page-title">Terms &amp; Conditions</h1>

  <div class="col-9 first cms-content">
    <h2>
  Release Of Liability</h2>
<p>
  All applicants will receive a release of liability form that must be signed and returned prior to the start of the workout.</p>
<h2>
  Refund Policy</h2>
<ul>
  <li>
    Full refund cancellations must be emailed to <a href="mailto:info@moveadventures.com?subject=Cancellation">info@moveadventures.com</a> at least ten days prior to the workout.</li>
  <li>
    A full credit workout will be given in seven days notice to a trip the same or lesser price value. The refund rates are based on the date we receive your email cancellation.</li>
  <li>
    If you come late to the departure spot and miss the van, there is no refund or workout credit. We advise that everyone make extra time due to trains and transportation challenges to meet at the departure location. We leave on time to respect those who come on time.</li>
  <li>
    If you sign up within seven days prior to trip, there is no refund for cancellation.</li>
</ul>
<h2>
  Cancelled Trips</h2>
<p>
  Move Adventures reserves the right to cancel any trip prior to departure for any reason whatsoever. The account credit toward another workout received shall release Move Adventures from any further liability, including expenses incurred by participants in preparing for the workout.</p>
<h2>
  Weather Conditions</h2>
<p>
  Safety is our priority. If extreme weather conditions hinders the safety of the workout we will cancel the workout and notify participants a minimum of twelve hours in advance.</p>
<h2>
  Website Privacy Policy</h2>
<p>
  Information collected via the website is used to provide services to customers and facilitate business operations and is not sold to other parties.</p>

  </div>

</section>

</div><!-- /main -->
<div id="main-bottom"></div>

{% include "elements/footer.html" %}

</body>
</html>
