<header id="header" class="row section clearfix">
  <h1 id="logo"><a href="/">Move Adventures</a></h1>

  <div class="header-buttons">
    {% if user and user.is_authenticated %} <a href="/logout">Log Out</a> {% else %} <a href="/login">Log In</a> <a href="/register" class="button-sign-in">Free Newsletter</a> {% endif %} <a href="http://facebook.com/MoveAdventures" class="facebook-button">
    <img src="/media/images/th_favicon_facebook.png" class="like-fav" width="16" height="18">Like Us!
  </a>
  </div>
  
  <nav class="nav-primary">
    <ul>
      <li><a class="home-link" href="/">Home</a></li>
      <li><a class="adventures-link" href="/adventures">Fitness Adventures</a></li>
      <li><a class="packages-link" href="/packages">Packages</a></li>
      <li><a class="fitness-chart-link" href="/chart">Fitness Chart</a></li>
      <li><a class="about-link" href="/about">About</a></li>
      <li><a class="faqs-link" href="/faqs">FAQs</a></li>
      <li><a class="contact-link" href="/contact">Contact</a></li>
      {% if user and user.is_authenticated %}
        <li><a class="account-link" href="/account">Account</a></li>
      {% else %}
        <li><a class="account-link" href="/login">Account</a></li>
      {% endif %}
    </ul>
  </nav>
  
</header>


